@model TechLead.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="~/Minimal-Image-Cropping-Plugin-jQuery-Canvas-iEdit/src/iEdit.css" rel="stylesheet" />
    <script src="~/Minimal-Image-Cropping-Plugin-jQuery-Canvas-iEdit/src/iEdit.js"></script>
    <style type="text/css">
        #profilepic {
            display: block;
            position: relative;
            width: 20%;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://fancyapps.com/fancybox/source/jquery.fancybox.pack.js?v=2.0.5"></script>
    <link rel="stylesheet" type="text/css" href="http://fancyapps.com/fancybox/source/jquery.fancybox.css?v=2.0.5" media="screen" />

    <div class="Box">
        <div class="row">
            <div class="col-md-2">
                <div class="ProfilePhoto">
                    @if (Model.ProfilePhoto == null)
                    {
                        <img src="~/ImageResources/undefinedlogo.jpg" />
                    }
                    else
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.ProfilePhoto)" />
                    }
                </div>
                <br />
            </div>
            <div class="col-md-10">
                <div class="ProfileInformation" id="ProfileInformation">
                    <div class="row">
                        <div class="columnInfo">
                            <p><strong>UserName:</strong> @Model.UserName</p>
                            <p><strong>Email:</strong><span style="color:#ff6a00"> @Model.Email</span></p>
                            <p>
                                <strong>Job:</strong> @if (Model.Job == null)
                                {
                                    <span> none</span>
                                }
                                else
                                {
                                    <span>@Model.Job</span>
                                }
                            </p>
                            <div class="ProfileInformation">
                                <p><input id="buttonOpenInfoEdit" type="button" onclick="openInfoEdit()" value="Edit Info" /></p>
                                @Html.ActionLink("View as guest", "ViewProfile", "Profile", new { userId = Model.userID }, null);
                            </div>
                        </div>
                        <div class="columnInfo">
                            <p>
                                <strong>Phone Number:</strong> @if (Model.PhoneNumber == null)
                                {
                                    <span> none</span>
                                }
                                else
                                {
                                    <span>@Model.PhoneNumber</span>
                                }
                            </p>
                            <p><strong>Here since </strong>   @Model.FirstRegistration.ToString("MMM d yyyy")</p>
                        </div>
                    </div>
                </div>
                <div id="ProfileInformationEdit" style="display:none">
                    @using (Html.BeginForm("IndexUpdateInfo", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <div class="row">
                            <div class="columnInfo">
                                <p><strong>UserName:</strong> @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", @value = Model.UserName })</p>
                                <p><strong>Email:</strong> @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @value = Model.Email })</p>
                                <p><strong>Job: </strong> @Html.TextBoxFor(u => u.Job, new { @class = "form-control", @value = Model.Job })</p>
                                <div class="col-md-2">
                                    <input id="buttonSubmitInfoEdit" type="submit" value="Save" />
                                </div>
                                <div class="col-md-2">
                                    <div class="ProfileInformation">
                                        <p><input id="buttonOpenInfoEdit" type="button" onclick="openInfoEdit()" value="Back" /></p>
                                    </div>
                                </div>
                            </div>
                            <div class="columnInfo">
                                <p><strong>Phone number: </strong> @Html.TextBoxFor(u => u.PhoneNumber, new { @class = "form-control", @value = Model.PhoneNumber })</p>
                                <p><strong>Here since </strong>   @Model.FirstRegistration.ToString("MM / dd / yyyy")</p>
                            </div>
                        </div>
                    }
                    <br /><br />
                    <div class="UploadPhoto">
                        @using (Html.BeginForm("Profilepic", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <p><strong>Change profile photo</strong></p>
                            <input id="file" accept="image/*" type="file" style="border:none; outline:none; text-decoration:underline; background:none; font-size:17px; margin:0"><input type="hidden" name="imgbase64" id="imgbase64" style="border:none; outline:none; text-decoration:underline; background:none; font-size:17px; margin:0" />
                            <br />
                            <img id="profilepic" style="display:none">
                            <br />
                            <input type="submit" id="btnUpload" value="Upload Image" style="display:none" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Box">
        <div class="About">
            <p><strong>About</strong></p>
            @if (Model.About == null)
            {
                using (Html.BeginForm("IndexUpdateAbout", "Manage", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <p><input type="button" onclick="openAbout()" value="Add Info" /></p>
                    <div id="AboutDiv" style="display:none;">
                        @Html.TextAreaFor(u => u.About, new { @class = "form-control", @rows = "6", @style = "width:100%; overflow:auto; max-width:100%;" })
                        @Html.ValidationMessage("CustomError")
                        <input type="submit" value="Save" />
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm("IndexUpdateAbout", "Manage", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <p><input type="button" onclick="openAbout()" value="Edit" /></p>
                    <div id="AboutDiv" style="display:none;">
                        @Html.TextAreaFor(u => u.About, new { @class = "form-control", @rows = "6", @style = "width:100%; overflow:auto; max-width:100%;" })
                        @Html.ValidationMessage("CustomError")
                        <input type="submit" value="Save" />
                    </div>
                }
                <div id="InfoAbout">
                    <span>@Html.DisplayFor(u => u.About)</span>
                </div>
            }
        </div>
        <br /><br /><br />
        @if (Model.bestSubmissions != null)
        {
            <p style="text-align:center">User's last best submissions</p>
            for (int i = 0; i < Model.bestSubmissions.Length; i++)
            {
                if (i > 20)
                {
                    break;
                }
                else
                {
                    <a href="@Url.Action("SubmissionDetails", "Problem", new { id = Model.bestSubmissions[i].SubmissionID })">
                        <div class="ProblemToDisplay">
                            @Model.bestSubmissions[i].ProblemName
                            <span class="PointsToDisplay">@Model.bestSubmissions[i].MaxScoredPoints out of @Model.bestSubmissions[i].TotalPoints</span>
                        </div>
                    </a>
                }
            }
        }
    </div>
    <br /><br />
</div>

<script type="text/javascript">
    function openAbout() {
        var x = document.getElementById("AboutDiv");
        var y = document.getElementById("InfoAbout");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "block";
        }
    }

    function openInfoEdit() {
        var x = document.getElementById("ProfileInformationEdit");
        var y = document.getElementById("ProfileInformation");
        var z = document.getElementById("buttonOpenInfoEdit");
        if (x.style.display == "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "block";
        }
    }

</script>

<script>
    $(document).ready(function () {
        $("#file").change(function (e) {
            var img = e.target.files[0];
            document.getElementById("profilepic").style.display = 'block';
            document.getElementById("btnUpload").style.display = 'block';
            if (!iEdit.open(img, true, function (res) {
                $("#profilepic").attr("src", res);
                document.getElementById("imgbase64").value = res;
            })) {
                alert("Please check file type !!!");
            }
        });
    });
</script>