@model TechLead.Models.ClassViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="TitleBox">
        <h2>@Model.ClassName</h2>
        <h3>@Model.ClassInfo</h3>
        <p class="InvitationCode">Invitation code: @Model.ClassInvittionCode</p>
        <div class="row">
            <div class="col-md-6" style="margin-top:10px">
                <a href='@Url.Action("ImportExercise", "Class", new { classID = Model.ClassID })'>
                    <input type='button' class="btn btn-info" value='Import a problem' />
                </a>
                <a href='@Url.Action("CreateExercise", "Class", new { classID = Model.ClassID })'>
                    <input type='button' class="btn btn-light" value='Create a problem' />
                </a>
            </div>
            <div class="col-md-6" style="margin-top:10px">
                <a href="@Url.Action("SeeMembers", "Class", new { classId = Model.ClassID })">
                    <div type="button" class="btn btn-primary pull-right" style="margin-left: 10px">
                        Members
                    </div>
                </a>
                    
                <a href="@Url.Action("SeeJoinRequests", "Class", new { classId = Model.ClassID })">
                    <div type="button" class="btn btn-primary pull-right">
                        Join Requests <span class="badge badge-light">@Model.PendingJoinRequests</span>
                    </div>
                </a>

            </div>
        </div>

    </div>
    <div class="Box">
        <!--Display the problems here-->
        @if (Model.Exercises.Count() == 0)
        {
            <div style="text-align:center; margin-bottom: 50px">
                <span class="caption">There are no problems inside this class. Consider to import or create some</span>
            </div>
        }
        else
        {
            for (int i = 0; i < Model.Exercises.Count; i++)
            {
                <a href="@Url.Action("Details", "Problem", new { id = Model.Exercises[i].Id, classId = Model.ClassID}, null)" class="elements">
                    <div class="ProblemToDisplay">
                        <div class="row">
                            <div class="col-md-8">
                                @Model.Exercises[i].Name
                            </div>
                            <div class="col-md-4">
                                <span class="pull-left">@Html.ActionLink("Remove", "RemoveExercise", "Class", new { problemId = Model.Exercises[i].Id, classId = ViewBag.ClassId }, null)</span>
                                <span class="pull-right">@Model.Exercises[i].Points</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>

