@model TechLead.Models.Exercise

@{
    ViewBag.Title = "Create";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<div class="Content">

    <div class="CreateProblem">
        <h2>Create an exercise</h2>
        <br />
        <hr />
        <span>FrontEnd</span>
        <br />
        <p>Write down the information that will be displayed to the user</p>
        <br /><br />

        @using (Html.BeginForm("Create", "Problem", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(ex => ex.Name, "Title")
                @Html.TextBoxFor(ex => ex.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(ex => ex.Name)
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(ex => ex.DifficulyId, "Difficulty\n")
                @Html.DropDownListFor(ex => ex.DifficulyId, new SelectList(Model.Difficulty, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(ex => ex.Difficulty)
            </div>
            <br />
            <div class="form-group">
                <div class="PointInfo">
                    <p>*Range: 10-400. Please, set the points according to the problem's difficulty.</p>
                    <br />
                    <p><b>Recommended:</b></p>
                    <p>Beginner 10-100</p>
                    <p>Intermediate 50-200</p>
                    <p>Advanced 150-400</p>
                </div>
                @Html.LabelFor(ex => ex.Points);
                @Html.TextBoxFor(ex => ex.Points, new { @class = "form-control" })
                @Html.ValidationMessageFor(ex => ex.Points)
            </div>
            <br />
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Condition</label>
                <textarea id="notes" name="notes" rows="6" value="" style="width:100%; max-width: none;" class="form-control"></textarea>
                @Html.TextAreaFor(ex => ex.Condition);
                @Html.ValidationMessageFor(ex => ex.Condition)
            </div>

            <br />
            <p>
                *By default there are 5 test cases to display to the user. If you have less than 5 test-cases to display, let the rest blank.
            </p>
            <br />

            <div class="row">
                Test case 1:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Imput1
                        @Html.ValidationMessageFor(ex => ex.Imput1)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Output1
                        @Html.ValidationMessageFor(ex => ex.Output1)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 2:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Imput2
                        @Html.ValidationMessageFor(ex => ex.Imput2)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Output2
                        @Html.ValidationMessageFor(ex => ex.Output2)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 3:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Imput3
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Output3
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 4:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Imput4
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Output4
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 5:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Imput5
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.Output5
                    </div>
                </div>
            </div>
            <span>BackEnd</span>
            <br />
            <p>Create the test-cases that will score the points for the problem.</p>
            <br />
            <br />
            <div class="row">
                Test case 1:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput1
                        @Html.ValidationMessageFor(ex => ex.TestImput1)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput1
                        @Html.ValidationMessageFor(ex => ex.TestOutput1)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 2:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput2
                        @Html.ValidationMessageFor(ex => ex.TestImput2)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput2
                        @Html.ValidationMessageFor(ex => ex.TestOutput2)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 3:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput3
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput3
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 4:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput4
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput4
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 5:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput5
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput5
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 6:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput6
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput6
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 7:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput7
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput7
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 8:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput8
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput8
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 9:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput9
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput9
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 10:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Imput</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestImput10
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Output</label>
                        <textarea id="notes" name="notes" rows="6" class="form-control" style="width:100%; max-width: none;"></textarea>
                        @Model.TestOutput10
                    </div>
                </div>
            </div>

            <br />
            <button type="submit" class="btn btn-primary">Save</button>

        }
    </div>
    <div class="CreateProblem2">

        <form>

            @*To do:
                3) Create the submit button.
                4) Validation (Anti hack and so on)
            *@


        </form>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/index.js")" type="text/javascript"></script>
