@model TechLead.Models.Exercise

@{
    ViewBag.Title = "Create";
}
<div class="Content">

    <div class="CreateProblem">
        <h2>Create an exercise</h2>
        <br />
        <hr />
        <span>FrontEnd</span>
        <br />
        <p>Write down the information that will be displayed to the user</p>
        <br /><br />

              <form>

                  <div class="form-group">
                      @Html.LabelFor(ex => ex.Name, "Title")
                      @Html.TextBoxFor(ex => ex.Name, new { @class = "form-control" })
                  </div>
                  <br />
                  <div class="form-group">
                      @Html.LabelFor(ex => ex.Difficulty, "Difficulty\n")
                      @Html.DropDownListFor(ex => ex.Difficulty, new SelectList(Model.Difficulty, "Id", "Name"), new { @class = "form-control", id = "exampleFormControlTextarea1" })
                  </div>
                  <br />
                  <div class="form-group">
                      <label for="exampleFormControlTextarea1">Condition</label>
                      <textarea class ="form-control" id="notes" name="notes" rows="6" value="" style="width:800px; max-width: none;" class="form-control col-sm-12"></textarea>
                      @Model.Condition
                  </div>
                  <br />

                  <p>
                      *By default there are 5 test cases to display to the user. If you have less than 5 test-cases to display, let the rest blank.
                  </p>
                  <br />

              </form>

             <div class="row">
                 Test case 1:

                 <div class="form-group">
                     <label for="exampleFormControlTextarea1">Imput</label>
                     textarea class="form-control" id="notes" name="notes" rows="6" value="" style="width:150px; max-width: none;" class="form-control"></textarea>
                     @Model.Condition
                 </div>


                 <div class="form-group">
                     <label for="exampleFormControlTextarea1">OutPut</label>
                     <textarea class="form-control" id="notes" name="notes" rows="6" value="" style="width:150px; max-width: none;" class="form-control"></textarea>
                     @Model.Condition
                 </div>
             </div>
                  
                
    </div>

</div>

