@model TechLead.Models.Exercise

@{
    ViewBag.Title = "Create";
}

<div class="Content">

    @using (Html.BeginForm("Create", "Problem", FormMethod.Post, new { id = "submitForm" }))
    {
        @Html.AntiForgeryToken();
    <div class="CreateProblem">
        <p><strong>Create an exercise</strong></p>
        <br />
        <hr />
        <div class="Level">
            <p>FrontEnd</p>
        </div>
        <p>Write down the information that will be displayed to the user</p>
        <br /><br />


        <div class="form-group">
            @Html.LabelFor(ex => ex.Name, "Title")
            @Html.TextBoxFor(ex => ex.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(ex => ex.Name)
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.DifficulyId, "Difficulty\n")
            @Html.DropDownListFor(ex => ex.DifficulyId, new SelectList(Model.Difficulty, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(ex => ex.Difficulty)
        </div>
        <br />
        <div class="form-group">
            <br />
            <div class="alert alert-info">
                <p> Range: 10-400. Please, set the points according to the problem's difficulty.</p>
                <br />
                <p><b>Recommended:</b></p>
                <p>Beginner 10-100</p>
                <p>Intermediate 50-200</p>
                <p>Advanced 150-400</p>
            </div>
            @Html.LabelFor(ex => ex.Points);
            @Html.TextBoxFor(ex => ex.Points, new { @class = "form-control" })
            @Html.ValidationMessageFor(ex => ex.Points)
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.Condition)
            @Html.TextAreaFor(ex => ex.Condition, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Condition)
        </div>


        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.ImputFormat, "Imput Format: ")
            @Html.TextAreaFor(ex => ex.ImputFormat, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation3)
        </div>

        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.OutputFormat, "Output Format:")
            @Html.TextAreaFor(ex => ex.OutputFormat, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation3)
        </div>

        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.Constraints, "Constrains: ")
            @Html.TextAreaFor(ex => ex.Constraints, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation3)
        </div>

        <br />
        <div class="alert alert-info">
            <strong>Info!</strong> By default there are 5 test cases to display to the user. If you have less than 5 test-cases to display, let the rest blank.
        </div>
        <br />

        <div class="row">
            Test case 1:
            <br />
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Imput1, "Imput")
                    @Html.TextAreaFor(ex => ex.Imput1, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Imput1)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Output1, "Output")
                    @Html.TextAreaFor(ex => ex.Output1, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Output1)
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.Explanation1)
            @Html.TextAreaFor(ex => ex.Explanation1, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation1)
        </div>

        <br />
        <br />
        <div class="row">
            Test case 2:
            <br />
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Imput2, "Imput")
                    @Html.TextAreaFor(ex => ex.Imput2, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Imput2)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Output2, "Output")
                    @Html.TextAreaFor(ex => ex.Output2, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Output2)
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.Explanation2)
            @Html.TextAreaFor(ex => ex.Explanation2, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation2)
        </div>

        <br />
        <br />
        <div class="row">
            Test case 3:
            <br />
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Imput3, "Imput")
                    @Html.TextAreaFor(ex => ex.Imput3, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Imput3)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Output3, "Output")
                    @Html.TextAreaFor(ex => ex.Output3, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Output3)
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.Explanation3)
            @Html.TextAreaFor(ex => ex.Explanation3, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation3)
        </div>

        <br />
        <br />
        <div class="row">
            Test case 4:
            <br />
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Imput4, "Imput")
                    @Html.TextAreaFor(ex => ex.Imput4, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Imput4)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Output4, "Output")
                    @Html.TextAreaFor(ex => ex.Output4, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Output4)
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.Explanation4)
            @Html.TextAreaFor(ex => ex.Explanation4, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation4)
        </div>

        <br />
        <br />
        <div class="row">
            Test case 5:
            <br />
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Imput5, "Imput")
                    @Html.TextAreaFor(ex => ex.Imput5, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Imput5)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(ex => ex.Output5, "Output")
                    @Html.TextAreaFor(ex => ex.Output5, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                    @Html.ValidationMessageFor(ex => ex.Output5)
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(ex => ex.Explanation5)
            @Html.TextAreaFor(ex => ex.Explanation5, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
            @Html.ValidationMessageFor(ex => ex.Explanation5)
        </div>

    </div>
        <div class="CreateProblem2">
            <p>BackEnd</p>
            <p>Create the test-cases that will score the points for the problem.</p>
            <br />
            <br />
            <div class="row">
                Test case 1:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput1, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput1, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput1)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput1, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput1, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput1)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 2:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput2, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput2, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput2)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput2, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput2, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput2)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 3:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput3, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput3, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput3)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput3, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput3, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput3)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 4:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput4, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput4, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput4)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput4, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput4, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput4)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 5:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput5, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput5, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput5)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput5, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput5, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput5)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 6:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput6, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput6, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput6)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput6, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput6, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput6)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 7:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput7, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput7, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput7)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput7, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput7, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput7)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 8:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput8, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput8, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput8)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput8, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput8, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput8)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 9:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput9, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput9, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput9)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput9, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput9, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput9)
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                Test case 10:
                <br />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestImput10, "Imput")
                        @Html.TextAreaFor(ex => ex.TestImput10, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestImput10)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(ex => ex.TestOutput10, "Output")
                        @Html.TextAreaFor(ex => ex.TestOutput10, new { @class = "form-control", @rows = "6", @style = "width:100%; max-width: none;" })
                        @Html.ValidationMessageFor(ex => ex.TestOutput10)
                    </div>
                </div>
            </div>

            <br />
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>

@*
    To Do Next
           Validation
            Antihack
             Show the view only to Admins and Teachers
*@

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}