@using Microsoft.AspNet.Identity;
@model TechLead.Models.ExerciseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="TitleBox">
        <div class="row">

            <div class="col-md-8"> <h2><b>@Html.DisplayFor(ex => ex.Name)</b></h2></div>

            <div class="col-md-4">
                <div class="PointsAndDifficultyBox">
                    @switch (Model.DifficultyId)
                    {
                        case 4:<p>Beginner</p>break;
                        case 5:<p>Intermediate</p>break;
                        case 6:<p>Advanced</p>break;
                    }

                    @Html.DisplayFor(ex => ex.Points)
                </div>
            </div>
        </div>
        @if ((User.Identity.IsAuthenticated && User.Identity.GetUserId() == Model.AuthorID) || User.IsInRole("Administrator"))
        {
            <p>
                @Html.ActionLink("Update", "Update", "Problem", new { @ProblemID = Model.Id }, null)

                @Html.ActionLink("Delete", "Delete", "Problem", new { @ProblemID = Model.Id }, null)
            </p>
        }
        <p>Author: @Model.Author</p>
    </div>
    @using (Html.BeginForm("Details", "Problem", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
    {

        <div class="Box">
            <br />

            <p><strong>Condition</strong></p>
            <br />
            <span> @Html.DisplayFor(ex => ex.Condition)</span>
            <br /><br /><br />

            <p><strong>Input Format</strong></p>
            <span> @Html.DisplayFor(ex => ex.InputFormat)</span>
            <br /><br /><br />

            <p><strong>Constraints</strong></p>
            <span> @Html.DisplayFor(ex => ex.Constraints)</span>
            <br /><br /><br />

            <p><strong>Output Format</strong></p>
            <span> @Html.DisplayFor(ex => ex.OutputFormat)</span>
            <br /><br /><br />

            <div class="row">
                <p><strong>Test case</strong></p>
                <br />
                <div class="col-md-6">
                    <div class="IOContainer">
                        <span>@Html.DisplayFor(ex => ex.Input1) </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="IOContainer">
                        <span> @Html.DisplayFor(ex => ex.Output1)</span>
                    </div>
                </div>
            </div>

            <br /><br />
            <p><strong>Explanation</strong></p>
            <span> @Html.DisplayFor(ex => ex.Explanation1)</span>
            <br /><br /><br />

            @if (Model.Input2 != null)
            {
                <div class="row">
                    <p><strong>Test case</strong></p>
                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span>@Html.DisplayFor(ex => ex.Input2) </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span> @Html.DisplayFor(ex => ex.Output2)</span>
                        </div>
                    </div>
                </div>

                <br /> <br />
                <p><strong>Explanation</strong></p>
                <span> @Html.DisplayFor(ex => ex.Explanation2)</span>
                <br /><br /><br />

            }

            @if (Model.Input3 != null)
            {
                <div class="row">
                    <p><strong>Test case</strong></p>
                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span>@Html.DisplayFor(ex => ex.Input3) </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span>  @Html.DisplayFor(ex => ex.Output3)</span>
                        </div>
                    </div>
                </div>

                <br /> <br />
                <p><strong>Explanation</strong></p>
                <span> @Html.DisplayFor(ex => ex.Explanation3)</span>
                <br /><br /><br />
            }

            @if (Model.Input4 != null)
            {
                <div class="row">
                    <p><strong>Test case</strong></p>
                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span> @Html.DisplayFor(ex => ex.Input4)</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span> @Html.DisplayFor(ex => ex.Output4)</span>
                        </div>
                    </div>
                </div>

                <br /> <br />
                <p><strong>Explanation</strong></p>
                <span> @Html.DisplayFor(ex => ex.Explanation4)</span>
                <br /><br /><br />
            }

            @if (Model.Input5 != null)
            {
                <div class="row">
                    <p><strong>Test case</strong></p>
                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span>@Html.DisplayFor(ex => ex.Input5) </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="IOContainer">
                            <span>@Html.DisplayFor(ex => ex.Output5) </span>
                        </div>
                    </div>
                </div>
                <br /> <br />
                <p><strong>Explanation</strong></p>
                <span> @Html.DisplayFor(ex => ex.Explanation5)</span>
                <br /><br /><br />
            }

            <div class="fileUpload">
                <p><strong>Submit your solution here </strong></p>
                <br />

                <input type="file" name="file" id="real-imput" />
                <br />
                    @Html.CheckBoxFor(m=>m.MakeSourceCodePublic)
                    @Html.LabelFor(m => m.MakeSourceCodePublic)
                    @*@Html.DisplayTextFor(m => m.MakeSourceCodePublic)*@
                <br />  
                <input type="submit" value="Submit" />
            </div>

            <hr />
        </div>
    }
    <div class="TitleBox">
        <a href="@Url.Action("Submissions", "Problem", null)" class="elements">Submissions</a>
    </div>

</div>
