@model TechLead.Models.SubmissionViewModel
@{
    ViewBag.Title = "SubmissionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="Content">

    <div class="TitleBox">
        <h2>Submission ID @Model.SubmissionID</h2>
        <button type="button" class="btn btn-info btn-lg" data-target="#SourceCode" data-toggle="modal">See the code</button>
    </div>

    <div class="Box">
        <div class="InfoSubmission">
            <div class="col-md-4">
                <p><strong>User</strong></p>
                @if (Model.SubmissionAuthorUserName == null)
                {
                    <p>Anonymous</p>
                }
                else
                {
                    <p>@Model.SubmissionAuthorUserName</p>
                }
            </div>

            <div class="col-md-4">
                <p><strong>Problem</strong></p>
                <p>@Model.Exercise [ID @Model.ExerciseId]</p>
            </div>

            <div class="col-md-4">
                <p><strong>Date</strong></p>
                <p>@Model.Date.ToString("yyyy-MM-ddTHH:mm")</p>
            </div>
        </div>

        <br /><br />
        <br /><br />
    </div>
    <br /><br />
    <div class="Box">

        @for (int i = 0; i < Model.NumberOfTestCases; i++)
        {
            if (Model.Points[i] != 0)
            {
                <p>Test @(i + 1)</p>
                <div class="successTestContainer">
                    <p>@Model.Points[i]</p>
                </div>
            }
            else
            {
                <p>Test @(i + 1)</p>
                <div class="NotsuccessTestContainer">
                    <p>@Model.Points[i]</p>
                </div>
            }

            <br />
        }
        <br />
        @if (Request.UrlReferrer != null)
        {
            <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
        }
    </div>

    <div class="modal" id="SourceCode" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close"><span style="font-size:22px">&times;</span></button>
                    <div class="modal-title">Source code</div>
                </div>
                <div class="modal-body">
                    <pre>@Model.SourceCode</pre>
                </div>
            </div>
        </div>
    </div>

</div>

