@using TechLead.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TechLead.Models.SubmissionToDisplayViewModel>

@{
    ViewBag.Title = "Submissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int eId = 0;
    bool restricted = false;
}

<div class="Content">

    <div class="TitleBox">
        <h2>Submissions</h2>
    </div>

    <div class="Box">
        @if (ViewBag.Restricted != null)
        {
            <h2>@ViewBag.Restricted</h2>
        }
        @if(ViewBag.NotAuthenticated != null)
        {
            <h3>@ViewBag.NotAuthenticated</h3>
        }
        <table>
            <tr>
                <th>Submission ID</th>
                <th>User</th>
                <th>Time</th>
                <th>Points</th>
                <th></th>
            </tr>
            @foreach (SubmissionToDisplayViewModel S in Model)
            {
                eId = S.ExerciseId;
                restricted = S.RestrictedMode;
                <tr>
                    <td>@S.SubmissionID</td>
                    <td>@S.SubmissionAuthorUserName</td>
                    <td>@S.Date</td>
                    <td>@S.ScoredPoints</td>
                    <td>@Html.ActionLink("See More", "SubmissionDetails", "Problem", new { id = @S.SubmissionID }, null)</td>
                </tr>
            }
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Submissions","Problem", new { page , exerciseId = eId, restrictedMode = restricted }))
        <br />
        @if (Request.UrlReferrer != null)
        {
            <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
        }

    </div>
</div>

