@model TechLead.Models.SubmissionViewModel
@{
    ViewBag.Title = "Submission Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">

    <div class="TitleBox">
        <h2>Submission ID @Model.SubmissionID</h2>
        @if (Model.MakeSourceCodePublic)
        {
            <button type="button" class="btn btn-info btn-lg" data-target="#SourceCode" data-toggle="modal">See the code</button>
        }
    </div>

    <div class="Box">
        <div class="InfoSubmission">
            <div class="col-md-4">
                <p><strong>User</strong></p>
                @if (Model.SubmissionAuthorUserName == null)
                {
                    <p>Anonymous</p>
                }
                else
                {
                    <p>@Model.SubmissionAuthorUserName</p>
                }
            </div>

            <div class="col-md-4">
                <p><strong>Problem</strong></p>
                <p>@Model.Exercise [ID @Model.ExerciseId]</p>
            </div>

            <div class="col-md-4">
                <p><strong>Date</strong></p>
                <p>@Model.Date.ToString("yyyy-MM-dd  HH:mm")</p>
            </div>
        </div>

        <br /><br />
        <br /><br />
    </div>
    <br /><br />
    <div class="Box">

        @for (int i = 0; i < Model.NumberOfTestCases; i++)
        {
            if (Model.Points[i] != 0)
            {
                <p>Test @(i + 1)</p>
                <div class="successTestContainer">
                    <p>Accepted - @Model.DistributedPointsPerTestCase</p>
                </div>
            }
            else
            {
                <p>Test @(i + 1)</p>
                <button class="NotsuccessTestContainer">
                    <p>Declined</p>
                </button>
                <div class="showError">
                    <div class="alert alert-danger" role="alert">
                        <br />
                        @Model.ErrorMessage[i]
                        <br />
                        @if (!Model.RestrictedMode)
                        {
                            <div class="test-case">
                                Input:
                                <br />
                                @if (Model.Inputs[i] != "TooBigTestCaseBoi")
                                {
                                    <p>@Model.Inputs[i]</p>
                                }
                                else
                                {
                                    <a href="@Url.Action("SeeData", "Problem", new { problemId = Model.ExerciseId, submissionId = -1, index = i, what = "input"})" class="elements">Click here</a>
                                }
                            </div>
                            <br />
                            <div class="test-case">
                                Expected output:
                                <br />
                                @if (Model.ExpectedOutputs[i] != "TooBigTestCaseBoi")
                                {
                                    <p>@Model.ExpectedOutputs[i]</p>
                                }
                                else
                                {
                                    <a href="@Url.Action("SeeData", "Problem", new { problemId = Model.ExerciseId, submissionId = -1, index = i, what = "output"})" class="elements">Click here</a>
                                }
                            </div>
                            <br />
                            <div class="test-case">
                                Your output:
                                <br />
                                @if (i >= Model.Outputs.Length)
                                {
                                    <p></p>
                                }
                                else
                                if (Model.Outputs[i] != "TooBigTestCaseBoi")
                                {
                                    <p>@Model.Outputs[i]</p>
                                }
                                else
                                {
                                    <a href="@Url.Action("SeeData", "Problem", new { problemId = -1, submissionId = Model.SubmissionID, index = i, what = "who cares"})" class="elements">Click here</a>
                                }
                            </div>
                        }

                    </div>
                </div>
            }

            <br />
        }
        <br />
        @if (Request.UrlReferrer != null)
        {
            <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
        }
    </div>

    <div class="modal" id="SourceCode" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close"><span style="font-size:22px">&times;</span></button>
                    <div class="modal-title">Source code</div>
                </div>
                <div class="modal-body">
                    <pre>@Model.SourceCode</pre>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    var accordions = document.querySelectorAll("button.NotsuccessTestContainer");
    for (var i = 0; i < accordions.length; i++) {
        accordions[i].onclick = function () {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }

</script>
