@model TechLead.Models.SubmissionViewModel
@{
    ViewBag.Title = "SubmissionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TestNumber=1;
    var ScoredPoints = 0;
}




<div class="Content">

    <div class="TitleBox">
        <h2>Submission ID @Model.SubmissionID</h2>
        <button type="button" class="btn btn-info btn-lg" data-target="#SourceCode" data-toggle="modal">See the code</button>
    </div>

    <div class="Box">
        <div class="InfoSubmission">
            <div class="col-md-4">
                <p><strong>User</strong></p>
                @if (Model.SubmissionAuthorUserName == null)
                {
                    <p>Anonymous</p>
                }
                else
                {
                    <p>@Model.SubmissionAuthorUserName</p>
                }
            </div>

            <div class="col-md-4">
                <p><strong>Problem</strong></p>
                <p>@Model.Exercise [ID @Model.ExerciseId]</p>
            </div>

            <div class="col-md-4">
                <p><strong>Date</strong></p>
                <p>@Model.Date.ToString("yyyy-MM-ddTHH:mm")</p>
            </div>
        </div>

        <br /><br />
        <br /><br />

        @*<table>
            <tr>
                <th>Test</th>
                <th>Time (Miliseconds)</th>
                <th>Points</th>
            </tr>
            @if (Model.Score1 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime1</td>
                    <td>@Model.Score1</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score1;
                    }

                </tr>
            }
            @if (Model.Score2 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime2</td>
                    <td>@Model.Score2</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score2;
                    }

                </tr>
            }
            @if (Model.Score3 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime3</td>
                    <td>@Model.Score3</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score3;
                    }

                </tr>
            }
            @if (Model.Score4 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime4</td>
                    <td>@Model.Score4</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score4;
                    }

                </tr>
            }
            @if (Model.Score5 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime5</td>
                    <td>@Model.Score5</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score5;
                    }

                </tr>
            }
            @if (Model.Score6 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime6</td>
                    <td>@Model.Score6</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score6;
                    }

                </tr>
            }
            @if (Model.Score7 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime7</td>
                    <td>@Model.Score7</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score7;
                    }

                </tr>
            }
            @if (Model.Score8 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime8</td>
                    <td>@Model.Score8</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score8;
                    }

                </tr>
            }
            @if (Model.Score9 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime9</td>
                    <td>@Model.Score9</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score9;
                    }

                </tr>
            }
            @if (Model.Score10 != -1)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@Model.ExecutionTime10</td>
                    <td>@Model.Score10</td>
                    @{
                        TestNumber++;
                        ScoredPoints += Model.Score10;
                    }

                </tr>
            }
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td>@ScoredPoints</td>
            </tr>
        </table>*@
        <br />
        @if (Request.UrlReferrer != null)
        {
            <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
        }
    </div>

    <div class="modal" id="SourceCode" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close"><span style="font-size:22px">&times;</span></button>
                    <div class="modal-title">Source code</div>
                </div>
                <div class="modal-body">
                    <pre>@Model.SourceCode</pre>
                </div>
            </div>
        </div>
    </div>

</div>

